<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>



```
# This is formatted as code
```

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [0]:
import pandas as pd

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/adult.data.csv')
data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]



```
# This is formatted as code
```

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [4]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

** **bold text**2. Каков средний возраст (признак *age*) женщин?**

In [5]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [6]:
len(data[data['native-country'] == 'Germany']) / len(data)

0.004207487485028101

** 4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [8]:
print(data[data['salary'] == '>50K'].mean()[0])
print(data[data['salary'] == '>50K'].std()[0])
print(data[data['salary'] == '<=50K'].mean()[0])
print(data[data['salary'] == '<=50K'].std()[0])

44.24984058155847
10.51902771985177
36.78373786407767
14.020088490824813

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [14]:
print(len(data[data['salary'] == '>50K'][data['education'] != 'Bachelors'][data['education'] != 'Prof-school'][data['education'] != 'Assoc-acdm'][data['education'] != 'Assoc-voc'][data['education'] != 'Masters'][data['education'] != 'Doctorate']))
print("не, не правда")

3306
не, не правда

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [21]:
data[data['race'] == 'Amer-Indian-Eskimo'].groupby('race').head().describe()['age']['max']

60.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [27]:
(len(data[data['marital-status'] == 'Married-civ-spouse'][data['salary'] == '>50K']) + len(data[data['marital-status'] == 'Married-civ-absent'][data['salary'] == '>50K']) + len(data[data['marital-status'] == 'Married-AF-spouse'][data['salary'] == '>50K'])) / (len(data[data['marital-status'] == 'Married-civ-spouse']) + len(data[data['marital-status'] == 'Married-civ-absent']) + len(data[data['marital-status'] == 'Married-AF-spouse']))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.44682978865257683

In [31]:
(len(data[data['salary'] == '>50K']) - len(data[data['marital-status'] == 'Married-civ-spouse'][data['salary'] == '>50K']) - len(data[data['marital-status'] == 'Married-civ-absent'][data['salary'] == '>50K']) - len(data[data['marital-status'] == 'Married-AF-spouse'][data['salary'] == '>50K'])) / (len(data) - len(data[data['marital-status'] == 'Married-civ-spouse']) - len(data[data['marital-status'] == 'Married-civ-absent']) - len(data[data['marital-status'] == 'Married-AF-spouse']))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.06485593895911627

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [32]:
data.describe()['hours-per-week']['max']

99.0

In [34]:
len(data[data['hours-per-week'] == 99])

85

In [38]:
print(str(100 * len(data[data['hours-per-week'] == 99][data['salary'] == '>50K']) / len(data[data['hours-per-week'] == 99])) + "%")

29.41176470588235%

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [40]:
data[data['salary'] == '<=50K']['hours-per-week'].mean()

38.840210355987054

In [41]:
data[data['salary'] == '>50K']['hours-per-week'].mean()

45.473026399693914

In [49]:
dict = {}
for country in data['native-country']:
  dict[country] = data[data['salary'] == '>50K']['hours-per-week'][data['native-country'] == country].mean()
for country in dict.keys():
  print(country + ": " + str(dict[country]) + "\n")

United-States: 45.50536884674383

Cuba: 42.44

Jamaica: 41.1

India: 46.475

?: 45.54794520547945

Mexico: 46.57575757575758

South: 51.4375

Puerto-Rico: 39.416666666666664

Honduras: 60.0

England: 44.53333333333333

Canada: 45.64102564102564

Germany: 44.97727272727273

Iran: 47.5

Philippines: 43.032786885245905

Italy: 45.4

Poland: 39.0

Columbia: 50.0

Cambodia: 40.0

Thailand: 58.333333333333336

Ecuador: 48.75

Laos: 40.0

Taiwan: 46.8

Haiti: 42.75

Portugal: 41.5

Dominican-Republic: 47.0

El-Salvador: 45.0

France: 50.75

Guatemala: 36.666666666666664

China: 38.9

Japan: 47.958333333333336

Yugoslavia: 49.5

Peru: 40.0

Outlying-US(Guam-USVI-etc): nan

Scotland: 46.666666666666664

Trinadad&Tobago: 40.0

Greece: 50.625

Nicaragua: 37.5

Vietnam: 39.2

Hong: 45.0

Ireland: 48.0

Hungary: 50.0

Holand-Netherlands: nan